<div class="container mt-4">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-primary"><i class="fa fa-plus-circle">&nbsp;</i>Add Contact</p>
            <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nam optio doloribus magni amet quo aperiam rerum reiciendis ab officia iure consequuntur tenetur magnam velit eos omnis incidunt ad asperiores tempore corrupti unde, porro perspiciatis! Temporibus nobis non quia voluptas cumque provident ratione voluptatem officiis deleniti, explicabo nihil nesciunt asperiores expedita ab molestiae nulla doloremque voluptatibus blanditiis ullam voluptate quaerat hic repellendus soluta necessitatibus. Ipsa recusandae labore numquam et adipisci!</p>
        </div>
    </div>
</div>
<!-- Condition based loading -->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!-- Display Error Messages -->
<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
            </div>
        </div>
    </div>
</div> 
<!-- <pre>{{contact | json}}</pre> -->
<!-- contact Form  -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form (submit)="addSubmit()">
                <div class="mb-2">
                    <input [(ngModel)]="contact.Name" name="Name" type="text" class="form-control" placeholder="Name" required>
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.Photo" name="Photo" type="text" class="form-control" placeholder="Photo url">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.Email" name="Email" type="email" class="form-control" placeholder="EmailId" required>
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.Mobile" name="Mobile" type="number" class="form-control" placeholder="Mobile No." required>
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.Company" name="Company" type="text" class="form-control" placeholder="Company" required>
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.Title" name="Title" type="text" class="form-control" placeholder="Title" required>
                </div>
                <div class="mb-2">
                    <select [(ngModel)]="contact.groupId" name="groupId" class="form-control" *ngIf="groups.length > 0">
                        <option value="">Select a Group</option>
                        <option [value]="group.Id" *ngFor="let group of groups">{{group.Name}}</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-success" value="Create">
                    <a routerLink="/" class="btn btn-warning ms-2">Close</a>
                </div>
                
            </form>
        </div>
        <div class="col-sm-4">
            <img [src]="contact.Photo" alt="" class="contact-img">
        </div>
    </div>
</div>