<div class="container mt-4">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-primary"><i class="fa fa-eye">&nbsp;</i>View Contact</p>
            <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus totam porro saepe aliquid nulla eum dolores ducimus fuga! Ipsam aliquid hic facere eaque odit sunt iste fuga dignissimos corporis cupiditate numquam voluptates quo obcaecati quaerat excepturi, tempore incidunt fugit. Sint consequuntur similique repudiandae reprehenderit eum in est, voluptas ipsam dolore deserunt quaerat modi dolorum temporibus possimus sapiente officia optio cupiditate, aliquam, nam perspiciatis asperiores voluptates veniam eos. Quod, est facilis!</p>
        </div>
    </div>
</div>
<!-- codition based spinner and error message code here -->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!-- Display Error Messages -->
<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
            </div>
        </div>
    </div>
</div> 
<!-- View Contact Details -->
<div *ngIf="!loading && isNotEmpty()" class="container">
    <div class="row align-items-center">
        <div class="col-sm-4">
            <img [src]="contact.Photo" class="contact-img-details" alt="User">
        </div>
        <div class="col col-sm-7">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">Name: 
                    <span class="fw-bold">{{contact.Name}}</span>
                </li>
                <li class="list-group-item list-group-item-success">Email: 
                    <span class="fw-bold">{{contact.Email}}</span>
                </li>
                <li class="list-group-item list-group-item-success">Mobile: 
                    <span class="fw-bold">{{contact.Mobile}}</span>
                </li>
                <li class="list-group-item list-group-item-success">Company: 
                    <span class="fw-bold">{{contact.Company}}</span>
                </li>
                <li class="list-group-item list-group-item-success">Title: 
                    <span class="fw-bold">{{contact.Title}}</span>
                </li>
                <li class="list-group-item list-group-item-success">GroupName: 
                    <span class="fw-bold">{{contact.groupId}}</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- <pre>{{group | json}}</pre> -->
    <div class="row mt-2">
        <div class="col">
            <a routerLink="/" class="btn btn-warning"><i class="fa fa-arrow-alt-circle-left">&nbsp;</i>Go Back</a>
        </div>
    </div>
</div>